.all-charts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.chart-one {
    /* background-color: rgba(183, 126, 216, 0.5); */
    border: 20px;
    border: thick;
    border-color: white;
    border-radius: 20px;
    margin: 1%;
    padding: 10px;
    height: 50%;
    width: 44%;
}

.chart-two {
    /* background-color: rgba(122, 47, 101, 0.5); */
    border-radius: 20px;
    margin: 1%;
    padding: 10px;
    height: 50%;
    width: 44%;
}

.chart-three {
    /* background-color: rgba(122, 47, 101, 0.5); */
    border-radius: 20px;
    margin: 1%;
    padding: 10px;
    height: 50%;
    width: 44%;
}

.chart-four {
    /* background-color: rgba(122, 47, 101, 0.5); */
    border-radius: 20px;
    margin: 1%;
    padding: 10px;
    height: 50%;
    width: 44%;
}