.carousel{
    position:relative;
    /* min-height: 100%; */
    /* max-width: 100%; */
    margin: 10px;
}

#banner-image {
    position: absolute;
    z-index: 200;
    transform: translateX(-50%);
    top: 0;
    width: 75%;
  }

  #easteregg {
    width: 40px;
    position: absolute;
    top: 5px;
    left: 10px;
    animation: rotation 10s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }