.solarsystem {
    grid-column: 1 / -1 ;
    grid-row: 2;
    margin-top: 70px;
    display: grid;
    grid:
        'image h3'
        'image solarinfo';
    grid-template-columns: 30% 70%;
    position: absolute;
    margin-left: 10%;
    margin-top: 40%;
    position: relative;
    margin: 10px;
    padding: 20px;
    border: solid grey 1px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.685);
}

#allplanets {
    grid-area: image;
    width: 90%;
    background-position: center;
}

div > h3 {
    display: flex;
    justify-content: start;
}

#solarinfo {
    display: flex;
    justify-content:start;
}

.list-item {
    text-align: start;
    padding-left: 25px;
    padding-bottom: 5px;
    list-style-type: none;
    background-image: url(../EarthAvatar.jpeg);
    background-size: 15px;
    background-repeat: no-repeat;
}