body {
  text-align: center;
  margin: 20px;
  background: linear-gradient(0deg, rgb(102, 1, 107) 0%, rgba(0,0,0) 50%);
  background-attachment: fixed;
  color: white;
}

#planet-info {
  background-color: black;
  border-radius: 5px;
  border: solid grey 1px;
  padding: 20px;
  width: 75%;
  margin: auto;
}