body {
  text-align: center;
  margin: 20px;
  /* background: linear-gradient(0deg, rgb(102, 1, 107) 0%, rgba(0,0,0) 50%); */
  background-image: url("static/Space.jpg");
  background-position: cover;
  color: white;
}

.page-components{
  display: flex;
  /* justify-content:; */
  flex-flow: column nowrap;
  gap: 10px;
  margin: 20px;
}